.tb table {
  border-collapse: collapse;
  width: 70%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: auto;
  margin-top: 20px;
}

.tb th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
}

.tb td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tb tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tb tr:hover {
  background-color: #ddd;
}

