/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(89,90,92,0.7), rgba(89,90,92,0.7)),url(../images/pexels-felix-mittermeier-956981.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
}

.logo{
    width: 60%;
}

.navLinks{
    flex: 1;
    text-align: right;
}

.navLinks ul li{
    display: inline-block;
    padding-right: 40px;
    position: relative;
}

.navLinks ul li a{
    color: white;
    text-decoration: none;
}

.navLinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: darkred;
    display: block;
    margin: auto;
    transition: 0.5s ease;
}

.navLinks ul li:hover::after{
    width: 100%;
}

.studentslogin-form{
    border: 1px solid rgb(183, 185, 189);
    border-radius: 7px;
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 32%;
    width: 35%;
    padding: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0, 0.7);
}

.studentslogin-form:hover{
   box-shadow: none; 
}

.studentslogin-form h3{
    font-size: 37px;
    text-align: center;
/*     background-image: linear-gradient(to right, red,yellow);
    -webkit-background-clip: text; */
/*     color: transparent; */
   color:rgb(63, 154, 170);
    margin-top: 15px;
    margin-bottom: 20px;
}

.studentslogin-form input{
    width: 88%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid rgb(245, 249, 169); 
    background: transparent;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-top: 10px;
}

/* ::placeholder{
    color: white;
} */

.studentslogin-form label{
    color: white;
    font-size: 19px;
    margin: 10px 5px;
    margin-left: 15px;
}

.studentslogin-form a button{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 7px;
    padding: 7px 20px 7px 20px;
    cursor: pointer;
    /* position: relative; */
    left: 40%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    transition: 0.5s ease;
}

.studentslogin-form a button:hover{
    color: blue;
    background-color: white;
}

.newuserbtn{
    color:skyblue;
    background-color:transparent;
    margin-right: 90px;
    margin-left: 20px;
    margin-bottom: 5px;
    border: none;
}

.studentslogin-form a{
    text-decoration: none;
}

.studentslogin-form p{
    color: rgb(161, 190, 247);
    font-size: 17px;
}
.flexx{
    display: flex;

}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .newuserbtn{
        color: skyblue;
        background-color: transparent;
        margin-right: 28vh;
        /* margin-top: 10px; */
        /* margin-left: 40%; */
        /* padding-bottom: 0px; */
        /* border: none; */
    }
    .btnn{
          width: 15%;
            margin-left: 38%;
            margin-top: 50px;
            margin-bottom: 10px;
          }
    
    body{
        height: 130vh;
    }
    .logo{
        width: 75px;
        margin-top: 20px;
        margin-left: 15px;
    }

    .navLinks ul li{
        display: block;
        margin: 40px 0px 45px 20px;
        font-size: 17px;
    }

    .navLinks{
        position: fixed;
        background: #1e1e1e;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

  
        nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .studentslogin-form{
width: 86%;
left: 7%;
top: 32%;
height: 50%;
    }

    .studentslogin-form h3{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    }

    /* .studentslogin-form button{ */
        /* margin-top: 0; */
    /* margin-left: 30%; */
    /* margin-bottom: 30px; */
    /* } */

    .studentslogin-form p{
        text-align: center;
    }

    .studentslogin-form label{
    font-size: 18px;
    margin: 10px 5px;
    }
    .flexx{
        flex-direction: column-reverse;
    }
    .newuserbtn{
        color:skyblue;
        background-color:transparent;
        /* margin-right: 50px; */
        margin-top: 10px;
        margin-left: 40%;
        padding-bottom: 10px;
        border: none;
    }
}